@import "../../../../colors.scss";
@import "../../../../mixin.scss";
.movement-form{
  display: flex;
  flex-direction: column;
  &__label{
    @include form-lable;
  }
  &__input{
    @include form-input;
  }
  &__submit-button{
    @include main-button;
    &--disabled{
      @include main-button-disabled
    }
  }
}

@media (min-width: 768px){
  .movement-form{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    &__submit-button {
      grid-column: span 2;
      &--disabled{
        grid-column: span 2;
      }
    }
    &__label{
      &--double{
        grid-column: span 2;
      }
    }

  }
}
