@import "../../colors.scss";
@import "../../mixin.scss";

.catalogue{
&__main-container{
  padding: 1em;
}
&__books-container{
  display: flex;
  gap: 1em;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: left;
}
&__add-button{
  @include main-button;
  width: 100%;
}
}
