@import "../../colors.scss";
@import "../../mixin.scss";

.libraries{
  &__add-button{
    @include main-button;
    width: 100%;
    display: block;
  }
  &__libraries-container{
    display: grid;
    gap: 1em;
    margin-top: 2em;
    justify-items: stretch;
    align-items: stretch;
  }
  &__main-container{
    padding: 1em;
  }
}
@media (min-width: 768px) {
  .libraries{
    &__libraries-container{
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media (min-width: 1024px) {
  .libraries{
    &__libraries-container{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
