@import "../../colors";
@import "../../mixin.scss";

.homepage{
  text-align: center;
  &__hero{
    background-color: #f9ccb6;
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-top: .5em;
    &-left{
      padding: .5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-figure{
      width: 100%;
      margin: 0;
    }
    &-image{
      width: 100%;
    }
  }
  &__info-sections{
    & > section{
      padding: 2em;
      text-align: left;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1em;
      align-items: center;
    }
    & > section:nth-child(even){
      background-color: #f9ccb6;
      display: grid;
      grid-template-columns: 1fr;
      gap: 1em;
      align-items: center;
    }
  }
  &__last-message{
    display: block;
    margin: 2em;
    font-size: 2em;
  }
  &__last-form{
    width: 100%;
    overflow: hidden;
    grid-row: 2;
  }
}
@media (min-width: 768px) {
  .homepage{
    &__hero{
      flex-direction: row;
      background-color: transparent;
      position: relative;
      justify-content:space-around;
      &-bg{
        background-color: #f9ccb6;
        width: 100%;
        height: 85%;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
      }
      &-left{
        width: 40%;
      }
      &-right{
        width: 60%;
      }
      &-figure{
        margin-top: 1em;
      }
      &-caption{
        font-size: .6em;
        text-align: left;
        font-weight: 100;
      }
    }
    &__caption-link{
      font-weight: 100;
    }
    &__info-sections{
      & > section{
        grid-template-columns: 1fr 2fr;
        gap: 2em;

      }
      & > section:nth-child(even){
        grid-template-columns: 2fr 1fr;
        gap: 2em;
        text-align: right;
        & > picture{
          grid-column: 2;
          grid-row: 1;
        }
        & > div.homepage__last-form{
          grid-column: 2;
          grid-row: 1;
        }
        & > div{
          grid-column: 1;
          grid-row: 1;
        }
      }
    }
  }
}
