@import "../../colors.scss";


.logo{
  font-family: 'Urbanist', sans-serif;
  display: inline-block;
  font-weight: 900;
  font-size: 2em;
  padding: .5em;
  margin: 0;
  &-link{
    color: $black;
    text-decoration: none;

  }
}
[lang='ja'] {
  color: $accent
}
