@import "../../colors.scss";
@import "../../mixin.scss";

.movements {
  &__add-button {
    @include main-button;
    width: 100%;
  }
  &__movements-container {
    margin-top: 2em;
  }
}
th, td {
  border-bottom: 1px solid #ddd;
  padding: 0.5em;
}
