@import "../../../../colors.scss";
@import "../../../../mixin.scss";

.book {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  align-self: stretch;
  height: 100%;
  &__link {
    box-sizing: border-box;
    justify-items: stretch;
    align-items: stretch;
    text-decoration: none;
    grid-template-rows: 1fr;
    color: $black;
    border: solid 1px $black;
    border-radius: 1.5em;
    overflow: hidden;
  }
  &__info {
    width: 100%;
    padding: 1em;
  }
  &__cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  }
}
