$base: #f7f5f0;
$black: #2b2b2b;
$main: rgb(246, 227, 60);
$main-light: rgba(246, 227, 60, 0.3);
$main-dark: rgb(216, 169, 41);
$accent: rgb(252, 121, 85);
$accent-light: rgba(252, 121, 85, 0.3);
$dark-main:rgb(237, 192, 42);
$dark-accent:#c85231;
$black-light: rgba(43,43,43,0.2);
$darker:rgba(114, 60, 45, 0.15)
