@import "../../../../colors.scss";
@import "../../../../mixin.scss";

.profile-tabs {
  & ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center
    ;
    & li:first-child button {
      border-radius: 2em 0 0 2em;
    }
    & li:last-child button {
      border-radius: 0 2em 2em 0;
    }
  }
  &__button {
    @include main-button;
    border-radius: 0;
  }
}
@media (min-width: 768px){
  .profile-tabs {
    & ul {
      justify-content: flex-start;
    }}
}
